@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: 15vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .caixaLogo {
            width: 100%;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 1.5rem;
            }
        }
       
        nav {
            width: 90%;
            a {
                font-size: 0.76rem;
            }
            
        }
    }

    .hero {
        flex-direction: column;
        height: 100%;
        
    }

    .heroText {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h2 {
            font-size: 2rem;
        }

        p{
            font-size: 1rem;
            text-align: justify;
        }

    }

    .cta {
        width: 100%;
        h4 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    .funciona {
        height: 100%;
        padding: 10px;
        margin: 10px;

        h2 {
            font-size: 1.5rem;
    }
        h3 {
            font-size: 1rem;

        }

        .cards-funciona {
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 0.2rem;

            .tituloFunciona {
                font-size: 1rem;
                margin-bottom: 1rem;
            
            }
            
            
        }

        article {
            width: 100%;
            height: 60%;    

            p {
                font-size: 0.8rem;
                text-align: justify;
                margin-bottom: 1rem;
            }

            ul {
                width: 90%;
                margin: 10px;
                
                li {
                font-size: 0.8rem;
            }
            }   

        
        }
}
    .produtos {
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 8px;
        padding: 10px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .cardsProdutos {
            flex-direction: column;
            gap: 0.8rem;
            margin-bottom: 0.3rem;
            width: 80%;
        }

        article {
            width: 100%;
            height: 60%;

            img {
                margin-bottom: 0.4rem;
            }

            h3 {
                font-size: 0.8rem;
            }

            p {
                font-size: 0.8rem;
                text-align: justify;
                margin-bottom: 1rem;               
            }

            button {
                padding: 5px;
                font-size: 0.7rem;
                border-radius: 10px;
            }

        }
    }

    .usuarios {
        height: 100%;
        padding: 10px;
        margin: 10px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
        
        }

        .depoimentos {
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;
            
            article {
                width: 60%;
                height: 70%;
                gap: 1rem;
              
                p {
                    font-size: 0.8rem;
                    text-align: justify;
                    margin-bottom: 1rem;
                }

            }


        }
    }

    .cta2 {
        height: 100%;
        padding: 10px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
        }

        .btn-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .primary-btn {
                height: 34px;
                width: 60%;
                font-size: 0.5rem;
                padding: 5px 5px;
            }

            .mais-btn {
                height: 34px;
                width: 40%;
                font-size: 0.5rem;
                padding: 5px 5px;    
            
            }            
        }

        
    }

    footer {
        height: 100%;   


        .superior { 
            margin-top: 10px;           
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        
            margin-bottom: 1rem;

            .logo {
                justify-content: center; 
                align-items: center;  

            }

            p {
                font-size: 0.8rem;
                text-align: center;
                width: 100%;            
            }

            .redes {
                justify-content: center;
                align-items: center;

            }

            .container-redes {
                margin-top: 1rem;

                h4 {
                    text-align: center;
                    font-size: 1rem;
                

                }
                
            }     

        
    }

    .inferior {
        p {
            font-size: 0.8rem;
            text-align: center;
            width: 100%;
        }
    }

    }

}

@media screen and (max-width: 768px){
    .produtos {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        article {
            width: 60%;
        }

    }
}
