* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #1F2937;
  }

  p, h1, h2 {
    font-family: "Poppins", sans-serif;
  }

  h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
  }
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    border-bottom: solid 1px #B4AEAE;
    height: 10vh;

    .caixaLogo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 10%;

        h2 {
            font-size: 2rem;
            color: #1F2937;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        align-items: center;

        a{
            text-decoration: none;
            color: #4B5563;
            font-size: 1rem;
            font-weight: 400;
            font-family: 'poppins', sans-serif;
            
        }
    }
}
.primary-btn {
    background-color: #16A34A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer    
}

.secondary-btn {
    background-color: #fff;
    color: #2563EB;
    border: 1px solid #2563EB;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh

}

.heroText {    

        align-items: center;
        width: 60vw;

        h2 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: #4B5563
        }

        button {
            font-size: 1rem;
            align-items: center;
            font-weight: 400;
            margin-right: 1rem;

            img {
                margin-left: 0.4rem;
                align-items: center;
            
            }
        }
        
}


//CTA SESSION
.cta {
    background-color: #F3F5F8;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;

    div {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    h4 {
        color: #16A34A;
        font-weight: 700;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
        font-family: 'poppins', sans-serif;
    }

    p {
        color: #4B5563;
        font-weight: 400;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        font-family: 'poppins', sans-serif;

    }
}

//Como funciona Session
.funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;  
    height: 60vh;



    h2 {
        margin-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'poppins', sans-serif;
        color: #1F2937;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #1F2937;
    }



    .cards-funciona {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;        

    }

    article {
        background-color: #F3F5F8;
        width: 480px;
        height: 297px;
        border-radius: 0.5rem;
        padding: 16px 16px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        box-shadow: #ccc;

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color:#4B5563;    
            text-align: start;
        }

        ul {
            width: 296px;
            margin-left: 30px;

            li {
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                color: #09090B;
            }
        }


        
    }

    .tituloFunciona {
        margin-left: 20px;
        display: flex;
        justify-content: row;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        
        img {
            margin-right: 0.5rem;        
        }

        .doador {
            color: #16A34A;
        }

        .adquirente {
            color: #2563EB;
        }
}


    }







//Produtos Session
.produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: #F3F5F8;

    article {
        border: solid 2px #16A34A;
        background-color: #fff;
        height: 60vh;
        width: 18%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        margin-top: 0;
        padding-top: 0;
        box-shadow: #ccc;

        img {
            width: 100%;
            height: 60%;
            border-radius: 8.11px 8.11px 0 0;
         
        }

        h3 {
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
            font-weight:400;
            color: #09090B;            
        }

        p {
            color: #4B5563;
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            width: 90%;
            text-align: center;
        }

        button {
            padding: 10px;
            border-radius: 15px;
            border: #21C05C 1px solid;
            background-color: #16A34A;
            color: #fff;
            margin-bottom: 1rem;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
        }

        button:hover {
            background-color: #2563EB;
            color: #F3F5F8;
        }
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: 15vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .caixaLogo {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
       
        nav {
            width: 90%;

            a {
                font-size: 0.86rem;
            }
            
        }
    }

}

@media screen and (max-width: 768px){
    .produtos {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        article {
            width: 60%;
        }

    }
}
    